@using RunnerMVCWebAppTutorial.Data.Enum;
@using RunnerMVCWebAppTutorial.ViewModels;
@model EditClubViewModel;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form method="post" asp-action="EditClub" enctype="multipart/form-data">
    @*burdaki enctype ı image upload ettiğimiz için ekledik*@
    <div class="form-row form-group">
        <input type="hidden" asp-for="Club.AddressId" id="AddressId" />
        <input type="hidden" asp-for="Club.Id" id="Id" />
        <div class="col">
            <input asp-for="Club.Title" class="form-control form-control-lg" placeholder="Title" />
            <span asp-validation-for="Club.Title" class="text-danger"></span>
        </div>
        <div class="col">
            <select asp-for="Club.ClubCategory" asp-items="@Html.GetEnumSelectList<ClubCategory>()" class="form-control form-control-lg">
                <option>--Select--</option>
            </select>
            <span asp-validation-for="Club.ClubCategory" class="text-danger"></span>
        </div>
    </div>
    <div class="form-row form-group">
        <div class="col">
            <input asp-for="Club.Description" class="form-control form-control-lg" placeholder="Description" />
            <span asp-validation-for="Club.Description" class="text-danger"></span>
        </div>
    </div>
    <div class="form-row form-group">
        <div class="col">
            <input asp-for="Club.Address.Street" class="form-control form-control-lg" placeholder="Street" />
            <span asp-validation-for="Club.Address.Street" class="text-danger"></span>
        </div>
    </div>
    <div class="form-row form-group">
        <div class="col">
            <input asp-for="Club.Address.City" class="form-control form-control-lg" placeholder="City" />
            <span asp-validation-for="Club.Address.City" class="text-danger"></span>
        </div>
        <div class="col">
            <input asp-for="Club.Address.State" class="form-control form-control-lg" placeholder="State" />
            <span asp-validation-for="Club.Address.State" class="text-danger"></span>
        </div>
    </div>
    <div class="form-row form-group">
        <div class="col">
            <input asp-for="File" type="file" class="form-control form-control-lg" placeholder="Image" />
            @*<span asp-validation-for="File" class="text-danger"></span>*@
        </div>
    </div>
    <div class="form-row form-group">
        <div class="col">
            <button class="btn btn-block btn-success btn-lg" type="submit">Update</button>
        </div>
    </div>
</form>